* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

@media only screen and (orientation: portrait) {
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

header, nav {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#quadro {
    background-color: gray;
    height: 500px;
    text-align: center;
}

#mestre {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: gray;
    color: white;
    font: 10px;
    text-align: right;
    height: 70px;
    border: 1px solid #000000;
}

nav li {
    display: inline;
    text-align: center;
}