* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (orientation: portrait) {
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
header {
    background-image: url("/imagens/tattoo.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}
header h1 {
    text-shadow: #000000 0 3px;
}
header, nav {
    text-align: center;
    padding: 10px;
    background-color: #bdbdbd;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    padding-bottom: 0px;
}

nav li {
    display: inline;
    text-align: center;
    background-color: #efefef;
    border-radius: 15px 15px 0px 0px;
    border-style: groove;
}

nav li a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav li a:hover {
    text-transform: uppercase;
}
.selected {
    background-color: #a7a5a5;
}
#mestre {
    padding: 15px;  
    justify-content: center;
    align-items: center;
    background-color: #616161;
}

#quadro {
    padding: 15px;
    text-align: center;
    background-color: #8d8d8d;
}

footer {
    background-color: #8d8d8d;
    color: #ffffff;
    padding: 15px;
    border: 1px solid #000000;
}
footer li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer li a:visited {
    color: #ffffff;
}
footer li img {
    float: right;
}
#carroseu {
    width: 100%;
    height: 100%;
    background-color: #000000;
}
label {
    width: 30%;
}
input {
    width: 70%;
}
.barraTitulo {
    background-color: #707070;
    font-size: larger;
    border: 1px solid #000000;
    padding: 15px;
    font-family: Arial Narrow,Arial,sans-serif; 
}
.corpoDepoimento {
    background-color: #efefef;
    border: 1px solid #000000;
    padding: 15px;
}